.selected {
    color: black;
    border-bottom: 1px solid black;
  }

.navBar {
    width:100%;
    padding-top: 10px
}

.link {
    padding-left:3%;
    padding-right:3%;
    padding-bottom: 7px;
    padding-top: 7px;
    text-decoration: none;
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
}

.link:hover {
    background-color: rgb(221, 219, 219)
}

.link:active{
    color:none
}
.link:focus{
    color:none
}